/* Assign font size and text color to class */

$succes_color: #00FF00;
$warning_color: #FF0000;

.info {
    font-size: 12px;
}

.succes {
    color: $succes_color;
    @extend .info;
}

.warning {
    color: $warning_color;
    @extend .info;
}
